
* {
  font-size: 10px;
  font-family: "Campton-Light", helvetica, arial, sans-serif;
}

.invisible{
  display: none;
}

.centered {
  text-align: center;
  align-content: center;
}

.price {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.name {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.voucher {
  background-color: white;
  border: 1px solid black;
  color: black;
  filter: grayscale(100%);
  display: none;
}

@media print {
  .hidden-print,
  .hidden-print * {
      display: none !important;
  }
  .voucher {
    display: inline-block;
  }
}
